set nocompatible
filetype on
filetype off

set rtp+=~/.vim/bundle/vundle/
call vundle#rc()


" let Vundle manage Vundle
Bundle 'gmarik/vundle'

" vim plugins
Bundle 'scrooloose/nerdtree'
Bundle 'altercation/vim-colors-solarized'
Bundle 'sjl/badwolf'
Bundle 'mattn/emmet-vim'
Bundle 'tpope/vim-surround'
Bundle 'tpope/vim-repeat'
Bundle 'hallison/vim-markdown'
Bundle 'kchmck/vim-coffee-script'
Bundle 'groenewege/vim-less'
Bundle 'kien/ctrlp.vim'
Bundle 'airblade/vim-gitgutter'
Bundle 'Raimondi/delimitMate'
Bundle 'ervandew/supertab'
Bundle 'editorconfig/editorconfig-vim'
Bundle 'tomtom/tcomment_vim'
Bundle 'jelera/vim-javascript-syntax'
Bundle 'nathanaelkane/vim-indent-guides'
Bundle 'pangloss/vim-javascript'
Bundle 'edsono/vim-matchit'
Bundle 'elixir-lang/vim-elixir'
Bundle 'dgryski/vim-godef'
Bundle 'rizzatti/funcoo.vim'
Bundle 'rizzatti/dash.vim'
Bundle 'walm/jshint.vim'
Bundle 'bling/vim-airline'
Bundle 'tpope/vim-fugitive'
Bundle 'elentok/plaintasks.vim'
Bundle 'wting/rust.vim'
Bundle 'mxw/vim-jsx'

filetype plugin indent on

set laststatus=2

" airline display time
" let g:airline_section_b = '%{strftime("%R")}'

" let g:airline_theme = 'luna'
if !exists('g:airline_symbols')
    let g:airline_symbols = {}
endif

" airline symbols
let g:airline_left_sep = '⮀'
let g:airline_left_alt_sep = '⮁'
let g:airline_right_sep = '⮂'
let g:airline_right_alt_sep = '⮃'
let g:airline_symbols.branch = '⭠'
let g:airline_symbols.readonly = '⭤'
let g:airline_symbols.linenr = '⭡'
let g:airline_symbols.paste = 'ρ'
let g:airline_symbols.whitespace = 'Ξ'

" Airline tabs
let g:airline#extensions#tabline#enabled = 1
let g:airline#extensions#tabline#show_buffers = 0

let g:airline#extensions#tabline#left_sep = '⮀'
let g:airline#extensions#tabline#left_alt_sep = '⮁'
let g:airline#extensions#tabline#right_sep = '⮂'
let g:airline#extensions#tabline#right_alt_sep = '⮃'

" enable <CR> indent in delimitMate
let delimitMate_expand_cr=1

" disable gitgutter by default
" let g:gitgutter_enabled = 0

" Tell Ctrl-P to ignore some folders
let g:ctrlp_custom_ignore = 'dist\|node_modules\|.DS_Store$\|.git$\|.svn$\|bower_components$'

" Toggle on/off gitgutter
nmap <silent> <leader>g :GitGutterToggle<CR>

" Key to toggle nerdtree display
map <leader>l :NERDTreeToggle<CR>

" Disable entities encoding in HTML files
let g:tcomment#replacements_xml = {}
